.success-header{
	color: green;  
	padding: 10px; 
	text-align:
	center;
	color: #00ab00;
}
.succes-page-text-row{
	color:#ccc;  
	font-weight:bold;  
	padding: 10px 0;
}
#delivery-time-left{
	color: #b70c0c;
}
.order-number{
	color: #b70c0c;
}
.success-page-back-to-main-page-link{
	display: block;
	color: #ccc;
	text-decoration: none;
	padding: 10px 0;
}